@charset "ISO-8859-1";

.inserimentobiglettoforms{
	
}
.inserimentobiglettoformelement{
	width: 60%;
	height: 20px;
	border-radius: 10px;
}
.inserimentobiglettoformsubmit{
	margin-top: 2em;
	background-color:#4CAF50;
	color:white;
	width: 60%;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
}